
body {
    font-family: georgia, serif; 
    font-size: 20pt; 
    margin: 0; 
    padding: 0;
} 

#languages {
    font-family: verdana, arial, sans-serif; 
    font-size: 75%; 
    background-color: #eee;
    border: 1px solid; 
    padding: 5px 1em; 
    margin: 1em;
}

.language {
    margin: 0.5em;
}

#sentences {
    padding: 1em 0;
}

#sentences p {
    margin: 1em 0;
    border-width: 1px; 
    border-style: solid none; 
    padding: 1ex; 
    background-color: #eee;
}

#abstract {
    font-size: 75%;
}

#menu {
    display:none; 
    list-style: none; 
    padding: 0em 0.2em; 
    margin: 0.2em;
    border: 1px solid;
    position: absolute; 
    background-color: #ffa; 
    border-radius: 8px;
}

.highlighted, #languages span {
    background-color: #ffa;
}

.clickable:hover {
    cursor: pointer;
}

.striked {
    text-decoration: line-through;
}

#languages span.inactive {
    background-color: transparent;
    text-decoration: line-through;
    color: #aaa;
}

img {
    vertical-align: middle;
}

.symbol { position: relative; display: inline-block }
.indicator { position: absolute; left: 0; top: 0 }
.indicator { background-color:rgba(255,255,0,0.3) }
.notindicator { background-color:rgba(255,0,255,0.3) }
img { border: 1px dotted blue }
